body {
    background-color: white;
}
a {
    text-decoration: none;
    cursor: pointer;

}
.white-header {
   
    display: flex;
    justify-content:right;
    padding: 10px 16px;
    margin-right: 50px;
    
}
.white-header a {
    color:gray;
    font-size: 14px;
    margin: 0 20px
    

}
.white-header a:last-child {
    border-left: 1px solid gray;
    padding-left: 6px;
}


.green-header {
 
 background-color: rgb(52, 99, 52);
 display:flex;
 justify-content:space-between;
 align-items: center;
 
 }

 .green-header a {
     padding: 16px;
    color: white;
    font-size: 16px;
    margin: 0 12px;

 }
 .green-header a:last-child {
     
     border-left: 1px solid gray;
     padding-left: 10px;
     
     
    }

 .green-header img {
     width: 200px;
     margin-left: 110px;
     margin-right: 80px;
 }
 .green-header a:hover {
    
     background-color: rgb(34, 63, 34)
 }

 .cards {
     display: flex;
     justify-content: space-between;
     padding-left: 80px;
     padding-right: 80px;
    
     
 }

 .card {
   
    width: 23%;
     margin: 16px
 }
 .card .card-image img {
     width: 100%;
     height: 220px;
 }

 .card-text1 {
     background-color: rgb(52, 99, 52);
     color: white;
     text-align: left;
     padding: 12px;
     font-size: 24px;
     margin: 0 8px;
     cursor: pointer;

 }
 .card-text {
     font-weight: bold;
     font-size: 17px;
     cursor: pointer;

 }
 .card-text:hover {
     color:rgb(52, 99, 52)
 }

 .popular {
    height: 40px;
    text-align: left;
    cursor: pointer;
    font-size: 17px;
    align-items: center;
    border-bottom: 1px solid gray;
    padding-left: 80px;
    margin: 16px 
}
     .popular a {
         font-weight: bold;
         color:black;
         margin: 0 18px;
}

     .popular a:first-child {
         color: rgb(39, 100, 39)

}

 .navigation {
    display:flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    

}

.link2 {
    border-left: 1px solid gray;
    height: 150px;

}

ul:last-child {
    border-left: 1px solid gray;
    height: 150px;

}

.link, .link2 {
    
    list-style-type: none;
    cursor: pointer;
    font-size: 20px;
    
}

li {
    margin-bottom: 1em;

}

.green-main {
    width: 100%;
    height: 100%;
    background-color: rgb(23, 53, 23);
    color: white;

}
.green-text {
    height: 28px;
}
.numbers {

    display: flex;
    justify-content: space-between;
    padding-left: 250px;
    padding-right: 250px;
    margin: 24px; 
    
    
   
}
.number {
    width: 33%;
    margin: 16px;
    text-align: left; 
    border: 1px solid rgb(24, 94, 24);
    border-radius: 4px;
    padding-left: 42px;
    padding-right: 42px;
    
}

.zero {
    font-size: 50px;
    border-bottom: 1px solid rgb(24, 94, 24);
}
.number-text {
    font-size: 20px;
}
h2 {
    padding: 16px 100px
}

.black-header {
    height: 100%;
    background-color: rgb(37, 34, 34); 

}

.black-header a {
    color:white;
    text-decoration: none;
    font-size: 18px;

}

.item3 {
    width: 45%;
    height: 28px;
    padding: 24px;
    background-color: rgb(52, 99, 52);
    text-align: center;
    align-items: center;
}
.item1 a, .item2 a, .item3 a, .item5 a {
    font-size: 22px;
    
}
.bottom-items {
    display:flex;
    justify-content: space-between;
    padding-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
}
 
    
.item5 {
    width: 45%;
    height: 28px;
    padding: 24px;
    background-color: rgb(49, 46, 46);
    text-align: center;
    align-items: center;
}
.item5:hover {
    background-color: rgb(23, 53, 23);
}

.left-side {

    width: 100%;
    padding: 40px;
}
.left-side a {
    margin: 0 54px;

    
}
.item1, .item2 {
    align-items: center;
    padding: 24px;

}
footer {
    display: flex;
    background-color: rgb(49, 46, 46);
    padding: 8px;
}

footer a {
    
    color: gray;
    text-decoration-line:underline;
   

}
footer a:hover {
    color: white;
}

h5 {
    padding-left: 80px;
   
}

.bottom-container {
    display: flex;
    padding: 40px;

}

.bottom-container  > * {
width: 20%;
}

.footer-left-side {
    width: 70%;
}

.footer-right-side {
    width: 30%;
    text-align: right;
}

   

