body {
    background-color: white;
}
a {
    text-decoration: none;
    cursor: pointer;

}
.white-header {
   
    display: flex;
    justify-content:right;
    padding: 10px 16px;
    margin-right: 50px;
    
}
.white-header a {
    color:gray;
    font-size: 14px;
    margin: 0 20px
    

}


.green-header {
 
 background-color: rgb(52, 99, 52);
 height: 70px;
 display:flex;
 justify-content:space-between;
 align-items: center;
 
 }

 .green-header a {
    color: white;
    font-size: 16px;
    margin: 0 12px;

 }
 .green-header a:last-child {
     margin-right: 100px;
 }

 .green-header img {
     width: 200px;
     margin-left: 110px;
     margin-right: 80px;
 }
 .green-header a:hover {
     
     background-color: rgb(34, 63, 34)
 }
 .cards {
     display: flex;
     justify-content: space-between;
     padding-left: 80px;
     padding-right: 80px;
    
     
 }

 .card {
   
    width: 23%;
     margin: 16px
 }
 .card .card-image img {
     width: 100%;
     height: 220px;
 }

 .card-text1 {
     background-color: rgb(52, 99, 52);
     color: white;
     text-align: left;
     padding: 12px;
     font-size: 24px;
     margin: 0 8px;
     cursor: pointer;

 }
 .card-text {
     font-weight: bold;
     font-size: 17px;
     cursor: pointer;

 }
 .card-text:hover {
     color:rgb(52, 99, 52)
 }

 .popular {
    height: 40px;
    text-align: left;
    cursor: pointer;
    font-size: 17px;
    align-items: center;
    border-bottom: 1px solid gray;
    padding-left: 84px;
    margin: 16px 32px;
     }

 .navigation {
    display:flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    

}
.link {
    height: 100%;
    list-style-type: none;
    cursor: pointer;
    font-size: 20px;
    
}

li {
    margin-bottom: 1em;

}

.green-main {
    width: 100%;
    height: 100%;
    background-color: rgb(23, 53, 23);
    color: white;

}
.green-text {
    height: 28px;
}
.numbers {

    display: flex;
    justify-content: space-between;
    padding-left: 250px;
    padding-right: 250px;
    margin: 24px; 
    
    
   
}
.number {
    width: 33%;
    margin: 16px;
    text-align: left; 
    border: 1px solid rgb(24, 94, 24);
    border-radius: 4px;
    padding-left: 42px;
    padding-right: 42px;
    
}

.zero {
    font-size: 50px;
    border-bottom: 1px solid rgb(24, 94, 24);
}
.number-text {
    font-size: 20px;
}
h2 {
    padding: 16px 100px
}
.black {

    background-color: black;
    

}
.left-side, .right-side {
    width: 50%;
   
}
.left-side {
    display: flex;
    justify-content: space-between;
    text-align: left;


}
.right-side {
    display: flex;
    justify-content: space-between;
    text-align: right;
}
.left {
    text-align: left; 
    padding-left: 42px;
    padding-right: 42px;
}

.right {
    text-align: right; 
    padding-left: 42px;
    padding-right: 42px;
}
.black a {
    color:white;
    text-decoration: none;
    font-size: 18px;

}